p {
  margin:0;
  padding:0;
}
.empty {
  height:5%;
}

.todo-wrapper {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate3d(-50%, -50%, 0);
  width:25vw;
  height:70vh;
  background:blue;
  user-select:none;
}

.todo-input {
  height:15%;
  background:#DCE2F0;
  display:flex;
  /* justify-content: space-around; */
  align-items: center;
}

.todo-input > input {
  flex:1;
  margin:0 5%;
}
.todo-input > button {
  margin-right:5%;
  background: #50586C;
  color:#DCE2F0;
  border-radius: 10px;
}

.todo-viewer {
  height: 85%;
  background:#50586C;
  overflow: auto;
  font-size:1.5rem;
}

.item-wrapper {
  display:flex;
  align-items: center;
  background:#DCE2F0;
  border-radius: 10px;
  height:10%;
  margin-bottom:5%;
  padding:0 10px;
}

.item-check {
  width:10%;
}
.item-text {
  flex:1;
}
.item-btns {
  display:flex;
  justify-content: center;
  align-items: center;
}
.item-btns > button {
  background:#50586C;
  color:#DCE2F0;
}



.done {
  color:red;
  text-decoration: line-through;
}